body {
  background-image: url(img/citybackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 25px;
  font-family: "Patua One", cursive;
}

.citynames {
  color: blueviolet;
  text-align: center;
  display: flex;
  flex-direction: row;
  position:relative;
height: 550px;
border: 5px solid gold;
}
#id {
  color: yellow;
}
.main-header {
  text-align: center;
  margin-bottom: 300px;
}
.cityinfo1 {
  border: 3px solid black;
  height: 500px;
  width: 500px;
  position: absolute;
}
.cityinfo2 {
  border: 3px solid black;
  height: 500px;
  width: 500px;
position: absolute;
left:50%;
transform: translate(-50%);
}
.cityinfo3 {
  border: 3px solid black;
  height: 500px;
  width: 500px;
position: absolute;
left: 100%;
transform: translate(-100%);
}
.city {
  color:aquamarine;
  position:relative;
  left: 180px;
}