body {
  background-image: url(img/citybackground.jpg);
  background-size: cover;
  font-size: 25px;
  font-family: "Patua One", cursive;
}

.citynames {
  color: blueviolet;
}
#id {
  color: yellow;
}
.main-header {
  text-align: center;
}
