body {
  background-image: url(img/citybackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 25px;
  font-family: "Patua One", cursive;
}

.cityinfo {
  color: blueviolet;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 20px;
}
#id {
  color: yellow;
}
.main-header {
  text-align: center;
  margin-bottom: 100px;
}
.cityinfo1 {
  position: absolute;
  border: 5px solid gold;
  height: 500px;
  width: 500px;
}
.cityinfo2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 5px solid gold;
  height: 500px;
  width: 500px;
}
.cityinfo3 {
  position: absolute;
  left: 100%;
  transform: translate(-100%);
  border: 5px solid gold;
  height: 500px;
  width: 500px;
}
.city1 {
  position: absolute;
  width: 500px;
  text-align: center;
}
.city2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.city3 {
  position: absolute;
  width: 500px;
  text-align: center;
  left: 100%;
  transform: translate(-100%);
}
.city {
  color: aquamarine;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100px;
}
